<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <section class="todoapp">
  <header class="header">
    <h1>To Do</h1>
  </header>
  <input class="new-todo" placeholder="What needs to be done?" autofocus="" name="newTodo.title" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"><i class="fa fa-trash" aria-hidden="true"></i> </button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
  <br>
  <br>
  <br>
  <img width="300" src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png">
</div>
